---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p class="lead">
Hi, I'm <code>Abin Simon</code>, a <i>Research Engineer</i>.
And this was supposed to be filled with `site.author.bio` had I written one
</p>

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<footer>
<small class="block">&lt;/&gt; I know you need more sleep! 😴✌️  |  <a href="http://meain.io" title="">meain</a></small>
</footer>
